# Private files & Originals (not for public GitHub)
/originals/

# Node (dev/test artifacts)
node_modules/
package-lock.json

# OS files
Thumbs.db
.DS_Store
*.swp
*.swo

# IDE
.vscode/
.idea/
*.suo
*.user
